@import url('https://fonts.googleapis.com/css2?family=Kumbh+Sans:wght@300;400;700&display=swap');

.main-wrapper {
    margin-top: 100px;
    display: flex;
    max-width: 1350px;
    margin: 100px auto auto auto;
    align-items: flex-start;
    position:absolute;
}


.img-wrapper{
    display: flex;
    flex-direction: column;
    width: 700px;
    align-items: center;
}

.img-slider{ 
    display: flex;

}

.img-slider-items { 
    width: 113px;
    margin: 8px;
    border-radius: 17px;
}

.img-slider-items:hover{
   opacity: 0.5;
   cursor: pointer;
}

#main-img-showcase {
    max-width: 500px;
    border-radius: 17px;
    margin-bottom: 25px;
}


.item-info-wrapper{
    max-width: 700px;
    margin-left: 200px;
    margin-top: 50px;
    
}

.info-desc-wrapper h3 {
    color: hsl(26, 100%, 55%);
    font-size: 12px;
    font-family: 'Kumbh Sans', sans-serif;
    font-weight: 700;
    letter-spacing: 1px;
    margin-bottom: -30px;
}

.info-desc-wrapper h1 {
    font-size: 60px;
    font-family: 'Kumbh Sans', sans-serif;
}

.desc {
    color: gray;
    font-family: 'Kumbh Sans', sans-serif;
    height: 50px;
    font-size: 20px;
    letter-spacing: 1px;
    margin-bottom: 25px;
    height: 40px;
}

.price-add-to-cart-wrapper {
    display: flex;
    flex-direction: column;

}

.price {
    display: flex;
    flex-direction: column;
    font-family: 'Kumbh Sans', sans-serif;
    margin-bottom: 20px;
}

.price-discount {
    display: flex;
    max-width: 200px;
    align-items: center;
    margin-bottom: -50px;
    
}

.initial-price {
    font-size: 35px;
    font-weight: 700;
}

.price-discount p {
    flex-grow: 1;
   
}

.discount {
    background-color: hsla(26, 100%, 55%, 0.336);
    max-width: 45px;
    height: 20px;
    padding: 3px;
    margin: 3px;
    border-radius: 5px;
    font-size: 16px;
    font-family: 'Kumbh Sans', sans-serif;
    font-weight: 700;
    color: hsl(26, 100%, 55%);
    text-align: center;
}

.old-price { 
    font-size: 12px;
    font-family: 'Kumbh Sans', sans-serif;
    font-weight: 700;
    color: gray;
    text-decoration: line-through;

}


.add-to-cart {
    display: flex;
    max-width: 450px;
    
    
}

#count-wrapper {
    max-width: 150px;
    flex-grow: 2;
    align-items: center;
    display: flex;
    background-color: rgba(128, 128, 128, 0.377);
    border-radius: 10px 10px;
    margin-right: 30px;
    font-family: 'Kumbh Sans', sans-serif;
    
}

.count-btn {
    width: 55px;
    height: 50px;
    text-align: center;
    border: none;
    background-color: transparent;
    border-radius: 10px 0 0 10px;
    font-weight: bolder;
    color: hsl(26, 100%, 55%);
    font-size: 17px;
}
#input-counter {
    width: 50px;
    height: 48px;
    text-align: center;
    position: relative;
    display: block;
    border: none;
    background-color:transparent;
    outline: none;
    border-radius: 10px 0 0 10px;
    font-weight: bolder;
}
/* .count-input {
    width: 50px;
    height: 50px;
} */

#add-to-cart-btn {
    width: 400px;
    background-color: hsl(26, 100%, 55%);
    border-radius: 10px;
    border: none;
    font-family: 'Kumbh Sans', sans-serif;
    color: white;
    font-weight: 700;
    flex-direction: row;
    
}

#add-to-cart-btn:hover {
    cursor: pointer;
    opacity: 0.5;
  
}

#cart-add-button {
    color: transparent;
    width: 15px;
    margin-right: 10px;
    font-family: 'Kumbh Sans', sans-serif;
    align-items: center;
}

#checkout{
    /* border: 1px solid black; */
    display: flex;
    flex-direction: column;
    align-items: center;
    position: relative;
    float: right;
    z-index: 10;
    margin-top: -25px;
    width: 400px;
    background-color: white;
    height: 300px;
    border-radius: 17px;
    box-shadow: 3px 23px 47px -11px rgba(0,0,0,0.61);
    -webkit-box-shadow: 3px 23px 47px -11px rgba(0,0,0,0.61);
    -moz-box-shadow: 3px 23px 47px -11px rgba(0,0,0,0.61);
 
}

.check-out-header {
    width: 360px;
    padding: 20px;
    font-family: 'Kumbh Sans', sans-serif;
    font-weight: 700;
    border-bottom: 2px solid rgba(190, 189, 189, 0.288);
}

#check-out-item-wrapper {
    margin-top: 25px;
    height: 170px;
    display: flex;
    flex-direction: row;

}

#check-out-btn {
    align-items: center;
    width: 300px;
    height: 50px;
    background-color: hsl(26, 100%, 55%);
    border-radius: 10px;
    border: none;
    font-family: 'Kumbh Sans', sans-serif;
    color: white;
    font-weight: 700;
    flex-direction: row;
    margin-top: -50px;
    margin-left: 25px;
    margin-right: 25px;
    
}

#check-out-image {
    width: 90px;
    border-radius: 15px;
    margin-right: 30px;
   
}

.check-out-item-info-wrapper{
    width: 200px;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-left: 10px;
    margin-top: -20px;

    

}

.check-out-price-wrapper {
    margin-top: -25px;
    align-items: center;
    display: flex;
    flex-direction: row ;
}

#item-price {
    margin-left: -75px;
    margin-right: 5px;
    font-family: 'Kumbh Sans', sans-serif;
    color: gray;
}

#item-quantity {
    margin-left: 5px;
    margin-right: 5px;
    font-family: 'Kumbh Sans', sans-serif;
}

#item-total-price {
    font-family: 'Kumbh Sans', sans-serif;
    font-weight: 700;
}


.check-out-item-name {
    font-size: 20px;
    color: gray;
    width: 250px;
}

#cart-quantity-indicator {
    border: none;
    width: 4px;
    float: right;
    position: relative;
    margin-left: -15px;
    margin-bottom: -7px;
    background-color: hsl(26, 100%, 55%);;
    align-self: center;
    border-radius: 50px;
    padding: 3px 8px 3px 8px;
    outline: none;
    text-align: center;
    font-size: 7px;
    font-weight: 700;
    color: white;
    font-family: 'Kumbh Sans', sans-serif;
}

.cart-wrapper {
    display: flex;
    flex-direction: column;
}

#delete {
    margin-top: 25px;
    margin-left: 15px;
    height: 20px;
    width: 15px;
}

#delete:hover {
    cursor: pointer;
}


#empty-cart-messege{
    /* width: 200px; */
    /* height: 10px; */
    text-align: center;
    margin-top: 60%;
    font-size: 16px;
    font-family: 'Kumbh Sans', sans-serif;
}
